html {
    font-size: 16px;
    background-image: url(../images/R.jfif);
    background-repeat: no-repeat;
    background-size:;
}

body {
    
}

table {
    padding: 50px 20px;
    margin: 10px 20px;
    filter:drop-shadow(5px 5px 5px white);
    box-shadow: 5px 5px 5px black;
} 
.navbar {
    
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
    
}

.navbar li {
    display: inline-block;
    padding: 20px 20px;
    color: black;
    cursor: pointer;
    
}

.navbar a {
    text-decoration: none;
    color: black;
    
}

.navbar a:hover {
    color: white;
}

.banner {
    
    color: black;
    margin-top:auto;
    text-align: center;
    padding: 25px 0;
}


.section1 {
    padding: 20px 50px;
}

#storylist ul {
    list-style-type: none;
}

.avatar {
    background-image: url(../images/ItsMe.jpg);
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    display: inline-block;
    filter: drop-shadow(5px 5px 5px black);
    vertical-align: middle;
}

.text {
    padding: 0px 15px;
}

#picofme {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    filter: drop-shadow(5px 5px 5px black);
}

#journeystory {
    
    text-align: center;
    filter:drop-shadow(5px 5px 5px white);
    color: black;
    font-size: 3rem;
    box-shadow: 5px 5px 5px black;
    
    
}

#journeystory:hover {
    color: white;
    filter:drop-shadow(5px 5px 5px gray)
}

.journeyp {
    text-align: center;
    
}

.bold { 
    font-weight: 900;
}

.btn {
    background-color: black;
    color: lightgray;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    
}

.btn a {
    color: lightgray;
    text-decoration: none;
}

.btn:hover {
    background-color: lightgray;
    color: black;
}

.res {
    text-align: center;
    border: 5px solid black;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.contact a {
   text-decoration: none;
   color: black;
}

.contact a:hover {
    color: white;
} 
.contact li {
    display: inline-block;
    list-style-type: none;
   
}

.bar {
    height: 5px;
    width: 100%;
}

.right{
    
    
}

.exp p {
    
    list-style-type: none;
    
}

table {
    text-align: center;
    width: 100%;
}

td {
    padding: 20px;
}

td ul {
    list-style-type: none;
    text-align: center;
}